@model SimpleMVCdapper.Models.Customerinfo

@{
    ViewBag.Title = "Details";
}

<center>
    <h3 style="color:green">
        <span class="glyphicon glyphicon-user"></span>
        Customerinfo <span class="glyphicon glyphicon-user"></span>
    </h3>
</center>

<hr />
<center>
    <table border="1" style="border:groove">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ID)
            </td>

            <td>
                @Html.DisplayFor(model => model.ID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Gender)
            </td>

            <td>
                @Html.DisplayFor(model => model.Gender)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.City)
            </td>

            <td>
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>

            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Mobile)
            </td>

            <td>
                @Html.DisplayFor(model => model.Mobile)
            </td>
        </tr>
    </table>
</center>
<br>
<center>
    <p>
        @Html.ActionLink("Edit", "UpdateCust", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</center>
